<!--<input type="text"
 class="form-control"
 (input)="onUpdateServerName($event)">-->
 <input type="text"
 class="form-control"
 [(ngModel)]="serverName">
 
 <p>{{ serverName }}</p>

<button class="btn btn-primary" [disabled]='!allowNewServer'
 (click)='onCreateServer()'>Add Server</button>

<!--<p [innerText]="allowNewServer"></p>-->
<p>{{ serverCreationStatus }}</p>

<hr>

<input type="text"
class="form-control"
[(ngModel)]="userName">

<button class="btn btn-success" 
[disabled]="userName === ''"
(click)="emptyUserName()">Empty Username</button>
<p>{{ 'User Name is: '}}{{ userName }}</p>


<app-server></app-server>
<app-server></app-server>